<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisis de Datos Individual - Wialon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://hst-api.wialon.com/wsdk/script/wialon.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/wialon-api.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}"> <!-- CSS del Navbar -->
    <script src="{{ url_for('static', filename='js/loginWialon.js') }}"></script>


</head>
<body>
    {% include 'navbar.html' %}


    <div class="container">
        <h1>Análisis de Datos Individual</h1>
        
        <form id="reportForm">
            <div class="form-group">
                <label for="resourceSelect">Seleccione recurso y template:</label>
                <select id="resourceSelect" required></select>
                <select id="templateSelect" required></select>
            </div>
            
            <div class="form-group">
                <label for="unitSelect">Seleccione una unidad:</label>
                <select id="unitSelect" required></select>
            </div>
            
            <div class="form-group">
                <label for="intervalSelect">Seleccione intervalo de tiempo:</label>
                <select id="intervalSelect" required>
                    <option value="today">Hoy (desde 00:00 hasta ahora)</option>
                    <option value="86400" title="60 sec * 60 minutes * 24 hours = 86400 sec = 1 day">Último día</option>
                    <option value="604800" title="86400 sec * 7 days = 604800 sec = 1 week">Última semana</option>
                    <option value="2592000" title="86400 sec * 30 days = 2592000 sec = 1 month">Último mes</option>
                </select>
            </div>
            
            <div class="button-container">
                <button type="submit" id="executeReportBtn">Ejecutar Informe</button>
            </div>
        </form>

        <div id="log" class="response-container"></div>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/individual.js') }}"></script>
</body>
</html>