<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisis de Datos - Quamtum Services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu_analisis.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}"> <!-- CSS del Navbar -->

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>¿Qué tipo de análisis requiere?</h1>
        <div class="options">
            <a href="{{ url_for('analisis_baterias') }}" class="option-button">
                <h2>Análisis de baterías</h2>
                <p>Analiza la batería de cada sensor al momento</p>
            </a>
            <a href="{{ url_for('analisis_temperatura') }}" class="option-button">
                <h2>Análisis del desempeño de luz, temperatura, batería y humedad</h2>
                <p>Analiza el desempeño de estos sensores en el rango de tiempo dado. Se puede graficar y exportar los datos de cada gráfica.</p>
            </a>
            <a href="{{ url_for('analisis_oscuridad') }}" class="option-button">
                <h2>Análisis de la medición de oscuridad</h2>
                <p>Analiza la medición de oscuridad en un tiempo dado</p>
            </a>
            <a href="{{ url_for('individual') }}" class="option-button">
                <h2>Análisis Individual</h2>
                <p>Realiza un análisis individual de cada sensor</p>
            </a>
        </div>
    </div>

    <footer>
        &copy; 2024 Quamtum Services. Todos los derechos reservados.
    </footer>
</body>
</html>