body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.navbar a {
    color: #007BFF;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}

h1, h2 {
    color: #333;
}

.checkbox {
    margin: 10px 0;
}

label {
    font-size: 18px;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

button:hover {
    background: #0056b3;
}

.big-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    flex-grow: 1;
    margin: 5px;
}

.big-button:hover {
    background-color: #0056b3;
}

.response-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container .big-button {
    flex-grow: 1;
    text-align: center;
    margin-right: 10px;
}

.button-container .big-button:last-child {
    margin-right: 0;
}

.big-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    flex-grow: 1;
    margin: 5px;
}

.big-button:hover {
    background-color: #0056b3;
}

.response-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container .big-button {
    flex-grow: 1;
    text-align: center;
    margin-right: 10px;
}

.button-container .big-button:last-child {
    margin-right: 0;
}
