<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quamtum Services Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylehome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sensores.css') }}">
    <script src="//hst-api.wialon.com/wsdk/script/wialon.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% include 'navbar.html' %}

    <main class="dashboard-container" role="main">
        <header class="dashboard-header">
            <h1>Bienvenido, <span id="nombre-usuario">{{ nombre_usuario }}</span></h1>
        </header>
    
        <div class="dashboard-grid">
            <div id="consulta-button" class="dashboard-item main-option">
                <img src="{{ url_for('static', filename='icons/consulta.png') }}" alt="Consulta icon" class="option-icon">
                <h2>Consulta</h2>
                <p>Obtén respuestas rápidas y precisas sobre nuestros servicios.</p>
                <a href="{{ url_for('index') }}" class="option-button">Ir a Consulta</a>
            </div>

            <div id="analisis-button" class="dashboard-item main-option">
                <img src="{{ url_for('static', filename='icons/analisis_datos.png') }}" alt="Análisis de datos icon" class="blurry-chart">
                <h2>Análisis de datos</h2>
                <p>Descubre insights valiosos basados en tus datos específicos.</p>
                <a href="{{ url_for('analisis_datos') }}" class="option-button">Ir a Análisis</a>
            </div>
            
            <div id="dynamic-1-3" class="dashboard-item dynamic">
                <p>Dynamic 1-3 Content</p>
            </div>
    
            <div id="dynamic-2-1" class="dashboard-item dynamic">
                <p>Dynamic 2-1 Content</p>
            </div>
    
            <div id="dynamic-2-2" class="dashboard-item dynamic">
                <p>Dynamic 2-2 Content</p>
            </div>
    
            <div id="dynamic-2-3" class="dashboard-item dynamic">
                <p>Dynamic 2-3 Content</p>
            </div>
        </div>
    </main>
    
    <footer>
        © 2024 Quamtum Services. Todos los derechos reservados.
    </footer>

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://hst-api.wialon.com/wsdk/script/wialon.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/dashboard/dashboard.js') }}"></script>
</body>
</html>
