<nav class="navbar">
    <div class="container navbar-container">
        <div class="logo">
            <img src="{{ url_for('static', filename='logos/Q.png') }}" alt="Quamtum Services Logo">
        </div>
        <div class="nav-links">
            <a href="{{ url_for('home') }}">Inicio</a>
            <a href="{{ url_for('crear_ticket') }}">Ticket</a>
            <div class="dropdown">
                <a href="{{ url_for('analisis_datos') }}" class="dropbtn">Análisis</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('analisis_baterias') }}">Batería de tus activos</a>
                    <a href="{{ url_for('analisis_temperatura') }}">Análisis de desempeño de sensores</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropbtn">Notificaciones</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('geocerca_notificacion') }}">Salida/Entrada de Geocerca</a>
                    <a href="{{ url_for('bateria_notificacion') }}">Batería por debajo de X%</a>
                    <a href="{{ url_for('luz_notificacion') }}">Cambio de Luz, Humedad o Temperatura</a>
                </div>
                <a href="{{ url_for('index') }}">Consulta</a>
            </div>
            <a href="{{ url_for('login_route') }}">Cerrar sesión</a>
        </div>
    </div>
</nav>